/* @font-face {
    font-family: 'Star wars';
    src: url('../font/StarJedi.ttf') format('truetype');
} */

body {
    /* font-family: 'Star wars', ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(54, 54, 54);
    background-image: url(https://wallpapers.com/images/hd/1920-x-1080-star-wars-88kwuwvd3lsml1zk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.encabezado {
    color: rgb(218, 218, 14);
    text-decoration: none;
    outline: none;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
.barraNav {
    background-color: rgba(10, 10, 10, 0);
    text-decoration: none;
    outline: none;
}
.card {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}
.estilo {
    text-decoration: none;
    outline: none;
}
.fotocard {
    filter: drop-shadow(1px 1px 20px white);
}